body{
	background-color: #FF9F1C;
}

.nav-wrapper{
	background-color: #011627;
	position: sticky;
	top: 0;
	height: 63px;
}

.navbar-link:hover{
	background-color: #2C334C
}


.jokesContainer{
	position: relative;
	padding-left: 200px;
	padding-top: 50px;
}

.randomJokeTitle{
	text-align: center;
	color:#E55934;
	padding-bottom: 20px;
}

.jokesTopContainer{
	position: absolute;
	left: 250px;
	width: 950px;
}

/*
 *  SCROLL BAR
 */
 .scrollbar{
	float: left;
	height: 400px;
	width: 900px;
	overflow-y: scroll;
}

#style-1::-webkit-scrollbar-trac{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #E71D36;
}

#style-1::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb{
	background-color: #E71D36;
}


/*
 *  SCROLL BAR
 */

/*
*
* DROPDOWN
*
 */

.category-text{
	text-align: center;
	font-weight: bold;
	color: #E71D36;
}


.info-text{
	text-align: center;
	color: #E71D36;
}

.dropdown {
	position: absolute;
	left: 1200px;
}

ul.dropdownList{
	overflow-y: scroll;
	height: 300px;
	width: 140px;
	margin: 0;
	padding: 0;
	right: 0px;
	background-color: #2EC4B6;
	font-weight:bold;
	position: absolute;
	width: "200px";
	box-shadow: 0px 8px 16px 0px rgba(240, 0, 0, 0.2);
}

li.list{
	text-decoration: none;
	padding: 16px;
	color: #e5e5e5;
	user-select: none;
    cursor: default;
}

li.list:hover {
	background-color: #011627;
}

.dropDownButton{
	width: 145px;
	background-color:#2EC4B6 ;
	padding: 12px;
	border-radius: 5px;
	font-weight: bold;
	color:#FDFFFC;
	user-select: none;
    cursor: default;
}

.dropDownButton:before{
	content: "";
	position: absolute;
	border: 10px solid;
	border-color: white transparent transparent transparent;
	right:15px;
	top: 70px;
}

/*
*
* DROPDOWN
*
 */